header{
    width: 100%;
    min-height: 100px;
    background:  linear-gradient(to top, #036618, #09c509);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
}

header h2{
    color:white;
  padding-left: 35%;
}

/* --------- Dropdown ---------- */

.drop-nav{
    border: solid 2px black;
    border-spacing: 20px;
    border-top: chartreuse;
    margin-top:100px;
    background-color: darkgray;
    background: #282c34;
   

}
